/* The top-level container Element */
#d3_taxonomy_vis_container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/* The header panel */
#d3_taxonomy_vis_container .header-panel {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
}
#d3_taxonomy_vis_container .header-panel .label {
    margin-right: 0.5rem;
} 
#d3_taxonomy_vis_container .header-panel .release-ctrl {
    border-radius: 10px;
    width: auto;
}

#d3_taxonomy_vis_container .header-panel .font-size-panel {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 1.5rem;
}
#d3_taxonomy_vis_container .font-size-panel.hide {
    display: none;
}
#d3_taxonomy_vis_container .font-size-panel.show {
    display: flex;
}

/*
#d3_taxonomy_vis_container .font-size-panel .slider {
    
}
*/

/* The body panel */
#d3_taxonomy_vis_container .body-panel {
    align-items: flex-start;
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    height: 83vh;
    justify-content: flex-start;
    width: 100%;
}

#d3_taxonomy_vis_container .taxonomy-panel {
    height: 100%;
    width: 82vw;
}
#d3_taxonomy_vis_container .node {
    cursor: pointer;
}
#d3_taxonomy_vis_container .node circle {
    display: flex;
    justify-content: center;
    align-items: center;
}
#d3_taxonomy_vis_container .node-text {
    /* font-size: 1.5rem; */
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
#d3_taxonomy_vis_container .unassigned-text {
    color: #999;
    text-align: right;
}
#d3_taxonomy_vis_container .legend-node-text {
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    transform: rotate(-45deg) /*translateX(-1.0rem)*/;
    transform-origin: left left; 
}


/* The tippy tooltip */
.ictv-tax-viz-tooltip .rank-and-name {
    align-items: baseline;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 0 1px 0;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.0rem;
    padding-bottom: 0.20rem;
    text-transform: capitalize;
}
.ictv-tax-viz-tooltip .history {
    margin-top: 0.5rem;
}
.ictv-tax-viz-tooltip .child-count {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.25rem;
}
.tippy-box[data-theme~='ICTV-Tooltip'] {
    background-color: #eee;
    color: #000;
}
.tippy-box[data-theme~='ICTV-Tooltip'] .tippy-arrow {
    color: #eee;
}


/* The species panel */
#d3_taxonomy_vis_container .species-panel {
    background-color: #efefef;
    height: 100%;
    overflow-y: auto;
    width: 17vw;
}
#d3_taxonomy_vis_container .species-panel .parent-rank {
    text-transform: capitalize;
}
#d3_taxonomy_vis_container .species-panel .parent-name {
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    word-break: normal;
}
#d3_taxonomy_vis_container .species-panel .parent-name:not(:empty) {
    border-bottom-style: solid;
}
#d3_taxonomy_vis_container .species-panel .species-list {
    align-items: flex-start;
    display: flex;
    font-size: .90rem;
    font-style: italic;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
#d3_taxonomy_vis_container .species-panel .species-row {
    color: blue;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    word-break: normal;
}
#d3_taxonomy_vis_container .species-panel .species-row:hover {
    cursor: pointer;
    text-decoration: underline;
}
